<ion-header<ion-title>ConHorio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="scheduleFoilabdi       display-format="HH:mm"
          picker-format="HH:mm"           </ontem>

      <io-lel position="floating">Horário de Término</ion-label>
        <ion-datime
          formConolName="endTime"
          display-fort="HH:mm"
          picker-formatHH:mm">
        </ion-datetime>
      <ion-label positionfloating">Dias de Tabalho/ion-laboct         formControlName="workDays"
          multiple="true"
          [compaWith]="compareth">
          <ion-select-option *ngFor="let y of workDays" [value]="day.id">
          {{ day.nt>      </ion-select>
      <on-item>
    </ion-list>
   <ion-" tpe="submt" [disabled]="!scheduleForm.valid || isLoading">
      <ionicon nam="save-outlie" slot="sart"></ion-icon>
      Salvr Configurções
    </ion-btton>
  </orm>

  <ion-loading [isOpe..></ion-loading>

  <div class="settings-card">
    <div class="settings-title">
      <ion-icon name="cloud-outline"></ion-icon>
      Modo de operação
    </div>
    <ion-item class="custom-item">
      <ion-label>Modo Offline</ion-label>
      <ion-toggle [(ngModel)]="isOfflineMode" (ionChange)="toggleOfflineMode()"></ion-toggle>
    </ion-item>
    <ion-note color="medium">
      Quando ativado, o app funcionará apenas com dados locais. Desative para sincronizar com o servidor.
    </ion-note>
  </div>
</ion-content>
