<ion-header>
  <ion-toolbar>
    <ion-title>Configurações de Horário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="scheduleForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Horário de Início</ion-label>
        <ion-datetime
          formControlName="startTime"
          display-format="HH:mm"
          picker-format="HH:mm">
        </ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Horário de Término</ion-label>
        <ion-datetime
          formControlName="endTime"
          display-format="HH:mm"
          picker-format="HH:mm">
        </ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Dias de Trabalho</ion-label>
        <ion-select
          formControlName="workDays"
          multiple="true"
          [compareWith]="compareWith">
          <ion-select-option *ngFor="let day of workDays" [value]="day.id">
            {{ day.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-button expand="block" type="submit" [disabled]="!scheduleForm.valid || isLoading">
      <ion-icon name="save-outline" slot="start"></ion-icon>
      Salvar Configurações
    </ion-button>
  </form>

  <ion-loading [isOpen]="isLoading" message="Carregando..."></ion-loading>
</ion-content>